# Virtual environment
.venv/
venv/

# VS Code settings
.vscode/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# CSV files (only if you really want to ignore all CSVs)
*.csv